.logo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    &__link {
        position: relative;
        display: inline-block;
        background: transparent url("/images/logo/logo.png") center/100%
            no-repeat;
        width: size(260);
        height: size(48);
    }
    &__text {
        margin-left: size(86);
        font-size: size(18);
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: size(70) size(295) 0 14%;
    // padding: 2.5% 15% 0 14%;
    color: $color_white;

    .button__to-order {
        margin-left: auto;
        margin-right: size(100);
    }
    .facebook-link {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: size(25);
        font-size: size(24);
        max-height: size(38);
        color: $color_white;
    }
    .tel-number {
        margin-right: size(55);
        max-height: size(38);
        color: $color_white;
        &__text {
            font-size: size(16);
            line-height: size(38);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-height: size(38);
        cursor: pointer;
        .menu__text {
            margin-right: size(25);
            font-size: size(12);
            text-transform: uppercase;
        }
        .menu__icon {
            display: inline-block;
            width: size(26);
            height: size(20);
            background: transparent url("/images/burger/burger.png")
                center/cover no-repeat;
        }
    }
}
