.logo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: $color_white;
    flex: 1 1 auto;
    &__link {
        position: relative;
        display: inline-block;
        background: transparent url("/images/logo/logo.png") center/100% no-repeat;
        width: size(260);
        height: size(48);
    }
    &__text {
        margin-left: size(86);
        font-size: size(18);
    }
}

.menu {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    bottom: 0;
    left: 0;
    // right: 0;
    width: 100vw;
    height: 100vh;
    padding: 2% 0 0 5%;
    overflow: hidden;
    touch-action: manipulation;
    background: $color_darkgreen url("/images/materials/logo_icon_for_menu.svg") left center / cover no-repeat;
    z-index: 99999999;
    // display: none;
    // transform: translateX(-100%);
    &__header {
        position: relative;
        flex: 1 1 100%;
    }
    &__close-button {
        position: absolute;
        top: 0;
        right: 15%;
        bottom: 0;
        font-size: 32px;
        color: #ffffff;
        cursor: pointer;
    }
    &__list {
        list-style: none;
        .list__item {
            margin-bottom: 3%;
        }
        a {
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    &__content {
        margin: 0 auto;
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: size(70) 13% 0 14%;
    // padding: 2.5% 15% 0 14%;
    color: $color_white;
    z-index: 2;
    .button__to-order {
        margin-left: auto;
        margin-right: 7%;
    }
    .facebook-link {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: size(25);
        font-size: size(24);
        max-height: size(38);
        color: $color_white;
    }
    .tel-number {
        margin-right: size(55);
        max-height: size(38);
        color: $color_white;
        &__text {
            font-size: size(16);
            line-height: size(38);
            font-weight: 700;
            text-transform: uppercase;
            vertical-align: top;
        }
    }
    .menu-button {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-height: size(38);
        cursor: pointer;
        .burger-button {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            padding: 0 15px;
            border-radius: 50%;
            // background-color: $color_darkgreen;
            cursor: pointer;
            &__item {
                width: 12px;
                height: 4px;
                background-color: #fff;
                opacity: 1;
                transition: all 0.3s ease-in;
                &:nth-child(even) {
                    transform: translateX(-50%);
                }
                &:nth-child(odd) {
                    transform: translateX(50%);
                }
            }
            &:hover {
                .burger-button__item {
                    &:nth-child(even) {
                        transform: translateX(-20%);
                    }
                    &:nth-child(odd) {
                        transform: translateX(20%);
                    }
                }
            }
        }
        &.active {
            .burger-button {
                z-index: 999999999999;
                position: relative;
                .burger-button__item {
                    opacity: 0;
                    &:nth-child(2) {
                        // position: absolute;
                        opacity: 1;
                        transform: translate3d(0%, 100%, 0) scale(1.5) rotateZ(45deg);
                    }
                    &:nth-child(3) {
                        // position: absolute;
                        opacity: 1;
                        transform: translate3d(0%, 0%, 0) scale(1.5) rotateZ(-45deg);
                    }
                }
            }
        }
        .menu-button__text {
            margin-right: size(25);
            font-size: size(12);
            text-transform: uppercase;
        }
        .menu-button__icon {
            display: inline-block;
            width: size(26);
            height: size(20);
            background: transparent url("/images/burger/burger.png") center/cover no-repeat;
        }
    }
}
