.jBox-container {
    width: 100%;
    height: 100%;
    // max-width: 635px;
    // max-height: 438px;
    background-color: #fff;
    padding: 7% 14%;
    border-radius: 0;
    margin: auto;
    .jBox-title {
        background-color: #fff;
        border: none;
        color: #000;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 1.5px;
    }
    #success-modal {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: -999;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        &.success {
            opacity: 1;
            z-index: 999;
        }
    }
    .modal__content .modal__form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        input {
            flex: 1 1 100%;
            padding: 15px 20px;
            border: 1px solid #838383;
            color: #838383;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            outline: none;
            &.filled {
                border-bottom: 3px solid $color_darkgreen;
            }
            &.filled:focus {
                border-bottom-width: 3px;
            }
            &#input-name,
            &#input-email {
                margin-bottom: 15px;
            }
            &#input-tel {
                margin-bottom: 45px;
            }
            &:focus {
                outline: none;
                border: 1px solid $color_darkgreen;
            }
            &::placeholder {
                color: #838383;
            }
        }
        &.error {
            &input.filled {
                border-bottom: 3px solid #c51;
            }
            input {
                border: 1px solid #c51;
                color: #c51;
                &::placeholder {
                    color: #c51;
                }
            }
        }
        input[type="submit"] {
            outline: none;
            border: none;
            background-color: $color_darkgreen;
            color: #ffffff;
        }
    }
}

.jBox-Modal .jBox-content {
    max-width: 100%;
}

.jBox-overlay .jBox-closeButton svg {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-right: 0;
}
.jBox-overlay .jBox-closeButton path,
.jBox-overlay .jBox-closeButton:active path {
    fill: $color_green;
}

.jBox-Modal .jBox-container .jBox-title {
    background: transparent;
    border-bottom: none;
}

#jBox1 {
    .jBox-container {
        width: 90%;
        height: 100%;
        max-width: 1200px;
        max-height: 538px;
        background-color: #fff;
        padding: 1%;
        border-radius: 0;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .jBox-content {
        height: 100%;
        width: 100%;
    }
    .jBox-title {
        margin-left: auto;
        width: 45%;
        padding-left: 0;
    }
}

.modal {
    &--to-order {
        display: flex !important;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
        .modal__form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
            flex: 0 1 45%;
            position: relative;
        }
        .modal__content {
            flex: 0 1 45%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space;
            .form-image {
                max-height: 100%;
                max-width: 50%;
                height: 100%;
                width: 50%;
                background: transparent url("../images/section_1/bottle.png") center top/contain no-repeat;
            }
        }
    }
    .form {
        &-calculator {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
            &__title {
                color: #404040;
                font-weight: 700;
                letter-spacing: 1.2px;
                font-size: size(28);
            }
            &__price {
                padding-top: 10px;
                font-size: size(34);
                font-weight: 700;
                color: $color_darkgreen;
            }
            &__total-price {
                margin-top: auto;
                .price {
                    &__title {
                        font-size: 16px;
                        color: #777777;
                        font-weight: 500;
                        padding-right: 10px;
                    }
                    &__value,
                    &__type {
                        font-size: 24px;
                        color: $color_darkgreen;
                        font-weight: 700;
                    }
                }
            }
            &__buttons {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                max-width: 100px;
                width: 100%;
                margin: auto 0;
                font-size: 3vh;
                font-weight: 700;
                color: #777777;
                .buttons__button-dec,
                .buttons__button-inc {
                    cursor: pointer;
                    user-select: none;
                }
                i {
                    font-style: normal;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet), only screen and (device-width: $tablet) {
    .jBox-container {
        width: 100%;
        height: 100%;
        max-width: 80%;
        max-height: 80%;
    }
}
