@media only screen and (device-width: $mobile), only screen and (max-width: $mobile) and (orientation: portrait) {
    .jBox-wrapper {
        left: auto !important;
    }
}

@media only screen and (device-width: $mobile), only screen and (max-width: $mobile) {
    .swiper-slide {
        height: auto;
    }
    .jBox-container {
        padding: 1%;
        .jBox-title {
            font-size: sizeMob(12);
        }
        .modal__content form input {
            font-size: sizeMob(12);
        }
    }

    .header {
        .logo {
            &__link {
                width: 120px;
                height: 22px;
            }
            &__text {
                display: none;
            }
        }
        .menu-button {
            .menu-button__text {
                font-size: 12px;
            }
            .menu-button__icon {
                width: 20px;
                height: 20px;
            }
        }
    }
    .section_1 {
        height: auto;
        .scroll-page {
            display: none;
        }
        .button__to-order {
            display: none;
        }
        .hero {
            padding: 40% 0 16% sizeMob(15);
            .hero__title {
                letter-spacing: 1.2px;
            }
        }
        .sidebar {
            justify-content: flex-start;
            padding: 2% 0 15% sizeMob(15);
            position: relative;
            .card {
                flex: 1 1 100%;
                max-width: 52%;
                margin-bottom: 8%;
                .card__number {
                    margin-bottom: 5%;
                    font-size: sizeMob(14);
                    &:after {
                        max-width: 140%;
                        width: 140%;
                        bottom: sizeMob(-3);
                        border-bottom: 4px solid $color_fff;
                    }
                }
            }
        }
        .image--bottle {
            top: 0;
            right: 0%;
            bottom: 0;
            height: 80%;
            max-width: 50%;
            max-height: 80%;
        }
    }
    .section_2 {
        width: 100%;
        padding: 0;
        &__left-side {
            // padding: 24.5% 0 0 13%;
            padding: sizeMb(80) sizeMb(50) 0 sizeMb(50);
        }
        &__title {
            max-width: 70%;
            margin-bottom: 8%;
        }
        &__paragraph {
            max-width: none;
            margin-bottom: 11%;
        }
        &__left-side {
            width: 100%;
            max-width: none;
        }
        .section_2__right-side {
            width: 100%;
            position: relative;
            left: auto;
            right: auto;
            margin-top: sizeMob(-85);
            padding: 0 8%;
            .image-man,
            .image-woman {
                width: 50%;
                height: sizeMob(205);
                margin-right: 0;
                background-size: contain;
                .text-line {
                    display: none;
                }
            }
            .image-woman {
                height: sizeMob(195);
            }
            .description {
                display: none;
            }
        }
        &__footer {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 6% 0;
            background-color: $color_darkgreen;
            color: $color_fff;
            .footer__description {
                flex: 0 1 40%;
                padding: 0 5%;
                display: inline-block;
                font-size: sizeMob(12);
                font-weight: 700;
            }
        }
    }
    .section_3 {
        padding: 0;
        max-width: none;
        width: 100%;
        background-position: left top;
        .sidebar--green {
            display: none;
        }
        .hero {
            padding: 20% 0 10% 5%;
            max-width: none;
            width: 100%;
            flex: 1 1 100%;
            background-position: 67% center;
            .hero__brand-text {
                max-width: 70%;
                font-size: 16px;
            }
            .hero__title {
                margin-bottom: 40%;
                max-width: 100%;
                br {
                    display: inline;
                }
            }
            .button__to-order {
                width: 100%;
                max-width: 95%;
                margin: 0;
                font-size: 18px;
                line-height: 26px;
                max-height: 100%;
            }
        }
    }
    .section_4 {
        width: 100%;
        &__left-side {
            padding: 28% 0 19% 12%;
        }
        &__title {
            margin-bottom: 10%;
        }
        .card {
            width: 100%;
            height: auto;
            max-width: 100%;
            min-height: 135px;
            margin: 0;
            border-top: 1px solid $color_darkgreen;
            padding-bottom: 5%;
            &__image {
                display: none;
            }

            .card-content__card-arrow {
                top: 11vw;
                bottom: auto;
                transition: all 0.5s ease-in-out;
            }
            &.active {
                .card-content {
                    transform: translateY(0%);
                    &__card-arrow {
                        // opacity: 0;
                        transform: rotateZ(90deg);
                    }
                }
            }
        }
        .card-content {
            position: relative;
            width: 100%;
            max-width: 100%;
            height: auto;
            margin: 0;
            text-transform: uppercase;
            transform: translateY(0%);
            &__card-title {
                margin-top: 3%;
                max-width: 80%;
            }
            &__card-number {
                width: 11vw;
                height: 11vw;
            }
            &__card-arrow {
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                max-height: 46px;
                font-size: 32px;
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }
    .section_5 {
        width: 100%;
        background: #f5f5f5;
        .hero {
            flex: 1 1 100%;
            padding: 28% 0 26% 0;
            br {
                display: inline;
            }
            &__title {
                margin: 0 0 0 11%;
                padding: 0;
                max-width: 100%;
                letter-spacing: 1px;
            }
            .button__to-order {
                width: 100%;
                max-width: 92%;
                margin: auto;
                font-size: 18px;
                line-height: 26px;
                max-height: 100%;
            }
            .button--transparent {
                max-height: none;
                margin-left: 0;
                margin: 17% auto auto;
                font-size: 18px;
                line-height: 32px;
                max-width: 60%;
                text-align: center;
            }
        }
    }
    .section_6 {
        width: 100%;
        padding: 9vh 0 6vh 6vh;
        text-align: left;
        .logo__text {
            font-size: 16px;
        }
    }
    #section-map {
        max-width: none;
    }
}
