@media only screen and (device-width: $tablet), only screen and (max-width: $tablet) {
    .button--green {
        max-width: sizeTb(156);
        max-height: sizeTb(38);
    }
    .header {
        padding: sizeTb(70) sizeTb(20) 0 sizeTb(35);
        .facebook-link,
        .tel-number {
            display: none;
        }
        .button__to-order {
            margin-right: 5%;
        }
        .logo {
            // width: sizeTb(290);
            &__link {
                width: sizeTb(180);
                height: sizeTb(42);
            }
            &__text {
                margin-left: 6vh;
                font-size: sizeTb(16);
            }
        }
    }
    .section_1 {
        width: 100vw;
        .hero {
            height: auto;
            flex: 0 1 100%;
            max-width: 100%;
            padding: 23% 0 10% 5%;
            background-position: right top;
        }
        .sidebar {
            padding: 0% 2%;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            flex: 1 1 100%;
            max-width: 100%;
            .card {
                padding: 0;
                max-width: sizeTb(210);
                .card__number {
                    font-size: sizeTb(22);
                }
            }
        }
        .image--bottle {
            top: 25%;
            max-width: sizeTb(240);
            max-height: sizeTb(450);
            right: sizeTb(-240/2);
        }
    }
    .section_2 {
        width: sizeTb(1500);
        padding-left: sizeTb(200);
        &__paragraph {
            max-width: sizeTb(420);
        }
        .image-man {
            width: sizeTb(400);
            height: sizeTb(680);
            margin-right: sizeTb(120);
        }
        .image-woman {
            width: sizeTb(400);
            height: sizeTb(640);
        }
        &__right-side {
            .description {
                top: 20%;
                letter-spacing: sizeTn(0.78);
                &--top {
                    max-width: sizeTn(195);
                }
                &--bottom {
                    max-width: sizeTn(130);
                    top: 40%;
                }
            }
        }
    }
    .sidebar--green {
        width: sizeTb(290);
    }
    .section_3 {
        width: auto;
        // width: 100vw;

        // background: rgba(0, 0, 0, 0.9) url("/images/section_3/bg-768.png") center bottom / cover no-repeat;
        .hero {
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: none;
            width: 100vw;
            padding: sizeTb(350) 0 0 sizeTb(90);
            background-position: right center;
            .hero__brand-text {
                letter-spacing: 1.38px;
                margin-bottom: 5%;
            }
            .hero__title {
                max-width: 70%;
                text-transform: uppercase;
                letter-spacing: 2.28px;
                margin-bottom: 15%;
            }
        }
        .button__to-order {
            max-width: sizeTb(320);
            max-height: sizeTb(75);
            line-height: sizeTb(24);
            font-size: sizeTb(18);
            padding: sizeTb(26) sizeTb(100);
            margin-top: 0;
        }
    }
    .section_4 {
        &__left-side {
            padding: size(400) size(200) 0 size(170);
        }
        &__title {
            position: relative;
            max-width: sizeTb(430);
            color: $color_darkgreen;
            text-transform: uppercase;
            margin-bottom: sizeTb(150);
            // &:after {
            //     content: '';
            //     position: absolute;
            //     top: sizeTb(-25);
            //     left: sizeTb(-50);
            //     width: sizeTb(100);
            //     height: sizeTb(100);
            //     background: transparent url('/images/section_2/title_decor.png') center / cover no-repeat;
            //     animation: rotate 10s infinite linear;
            // }
        }
        &__decor {
            width: sizeTb(530);
            height: sizeTb(130);
            background: transparent url('../images/section_2/decor.png') center center / cover no-repeat;
        }
        .card-content {
            // width: 450px;
            // max-width: sizeTb(450);
            // height: sizeTb(210);
            // margin: auto 0 sizeTb(250) 0;
            // margin: auto;
            &__card-title {
                padding: 0 sizeTb(70) sizeTb(10) sizeTb(70);
            }
            &__card-number {
                width: sizeTb(48);
                height: sizeTb(48);
                letter-spacing: 1.04px;
            }
            &__card-arrow {
                padding: 0 sizeTb(70);
                font-size: sizeTb(36);
            }
        }
    }
    .section_6 {
        padding: 2% 1%;
        box-sizing: content-box;
        .logo {
            margin-bottom: sizeTb(80);
            &__text {
                font-size: sizeTb(18);
            }
            &__link {
                width: sizeTb(240);
                max-width: 200px;
                margin-bottom: sizeTb(20);
            }
        }
        .contacts {
            &__item {
                margin-bottom: sizeTb(80);
            }
            &__title {
                padding-bottom: sizeTb(26);
                letter-spacing: 1.28px;
            }
            &__description {
                letter-spacing: 1.08px;
            }
        }
    }
}

@media only screen and (device-width: $tablet) and (orientation: landscape), only screen and (max-width: $tablet) and (orientation: landscape) {
    .jBox-container {
        padding: 1%;
        .jBox-title {
            font-size: sizeTb(22);
        }
        .modal__content form input {
            font-size: sizeTb(18);
        }
    }
    .section_1 .sidebar .card .card__number {
        font-size: sizeTb(24);
        &:after {
            bottom: sizeTb(-4);
            border-bottom: sizeTb(4) solid #fff;
        }
    }
}
