@function size($size) {
    @return ($size / 940 * 100vh);
}
@function sizeTb($size) {
    @return ($size / 660 * 100vh);
}
@function sizeMb($size) {
    @return ($size / 1024 * 100vh);
}

html * {
    box-sizing: border-box;
}
.swiper-container {
    height: 100vh;
}

a,
i {
    display: inline-block;
    text-decoration: none;
}

.container {
    height: 100%;
}

@mixin decor-rotated() {
    content: '';
    position: absolute;
    top: -70px;
    left: -60px;
    width: 117px;
    height: 117px;
    background: transparent url(/images/section_2/title_decor.png) center/cover no-repeat;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
}

@mixin decor-rotated--mobile {
    content: '';
    position: absolute;
    top: -25px;
    left: -30px;
    width: 70px;
    height: 70px;
    background: transparent url(/images/section_2/title_decor.png) center/cover no-repeat;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
}

.text-decor {
    &--rotated:after {
        @include decor-rotated();
    }
}
