@function size($size) {
    @return ($size / 940 * 100vh);
}
@function sizeTb($size) {
    @return ($size / 660 * 100vh);
}
@function sizeMb($size) {
    @return ($size / 1024 * 100vh);
}

html * {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.swiper-container {
    height: 100vh;
}

a,
i {
    display: inline-block;
    text-decoration: none;
}

.container {
    height: 100%;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

@mixin decor-rotated($url) {
    content: "";
    position: absolute;
    top: -70px;
    left: -60px;
    width: 117px;
    height: 117px;
    background: transparent url($url) center/cover no-repeat;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
}

@mixin decor-rotated--mobile {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 70px;
    height: 70px;
    background: transparent url("/images/section_2/title_decor.png") center/cover no-repeat;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
}
.new {
    overflow: hidden;
    font-style: normal;
}
.ml12 {
    right: -300px;
    position: relative;
    opacity: 0;
}
.jBox-overlay .jBox-closeButton svg {
    display: none;
}
.jBox-overlay {
    cursor: url("/images/Webp.net-resizeimage.png"), auto;
}
.swiper-slide-active .text-decor--rotated:after {
    opacity: 1;
}
.text-decor {
    &--rotated {
        &:after {
            @include decor-rotated("/images/materials/txt_round_1.svg");
            opacity: 0;
            transition: opacity 0.3s ease-in;
            transition-delay: 1s;
        }
        &.decorator-1:after {
            @include decor-rotated("/images/materials/txt_round_1.svg");
        }
        &.decorator-2:after {
            @include decor-rotated("/images/materials/txt_round_2.svg");
        }
        &.decorator-3:after {
            @include decor-rotated("/images/materials/txt_round_3.svg");
        }
    }
}
