.text__black {
    color: $color_black;
}
.text__green {
    color: $color_darkgreen;
}
@media screen and (max-width: $lgs), only screen and (device-width: $lgs) {
    .title_1 {
        font-family: $Montserrat;
        font-weight: 900;
        font-size: size(62);
        line-height: size(72);
    }
    .title_2 {
        font-family: $Montserrat;
        font-weight: 800;
        font-size: size(56);
        line-height: size(68);
        letter-spacing: 3.72px;
    }
    .title_3 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: size(28);
        line-height: size(34);
    }
    .paragraph_1 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: size(24);
        line-height: size(34);
    }
    .paragraph_2 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: size(18);
        line-height: size(24);
    }
    .paragraph_3 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: size(16);
        line-height: size(22);
    }
    .note {
        font-family: $Montserrat;
        font-size: size(18);
        font-weight: 700;
        line-height: size(25);
    }
    .disclaimer {
        font-family: $Montserrat;
        font-size: size(14);
        font-weight: 500;
        line-height: size(17);
        letter-spacing: 0.85px;
    }
}
@media screen and (max-width: $mds), only screen and (device-width: $mds) {
    .title_1 {
        font-family: $Montserrat;
        font-weight: 900;
        font-size: sizeMb(48);
        line-height: sizeMb(58);
    }
    .title_2 {
        font-family: $Montserrat;
        font-weight: 800;
        font-size: sizeMb(38);
        line-height: sizeMb(48);
        letter-spacing: 2.72px;
    }
    .title_3 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeMb(22);
        line-height: sizeMb(28);
    }
    .paragraph_1 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeMb(24);
        line-height: sizeMb(34);
    }
    .paragraph_2 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeMb(18);
        line-height: sizeMb(24);
    }
    .paragraph_3 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeMb(16);
        line-height: sizeMb(22);
    }
    .note {
        font-family: $Montserrat;
        font-size: sizeMb(14);
        font-weight: 700;
        line-height: sizeMb(18);
    }
}
@media screen and (max-width: $tablet), only screen and (device-width: $tablet) {
    .title_1 {
        font-family: $Montserrat;
        font-weight: 900;
        font-size: sizeTb(42);
        line-height: sizeTb(52);
    }
    .title_2 {
        font-family: $Montserrat;
        font-weight: 800;
        font-size: sizeTb(42);
        line-height: sizeTb(52);
        letter-spacing: 1.72px;
    }
    .title_3 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeTb(22);
        line-height: sizeTb(28);
    }
    .paragraph_1 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeTb(24);
        line-height: sizeTb(34);
    }
    .paragraph_2 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeTb(18);
        line-height: sizeTb(24);
    }
    .paragraph_3 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeTb(16);
        line-height: sizeTb(22);
    }
    .note {
        font-family: $Montserrat;
        font-size: sizeTb(18);
        font-weight: 700;
        line-height: sizeTb(24);
    }
}
@media screen and (max-width: $mobile), only screen and (device-width: $mobile) {
    .title_1 {
        font-family: $Montserrat;
        font-weight: 900;
        font-size: sizeMob(24);
        line-height: sizeMob(32);
    }
    .title_2 {
        font-family: $Montserrat;
        font-weight: 800;
        font-size: sizeMob(20);
        line-height: sizeMob(24);
    }
    .title_3 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeMob(16);
        line-height: sizeMob(20);
    }
    .paragraph_1 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeMob(16);
        line-height: sizeMob(20);
    }
    .paragraph_2 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeMob(14);
        line-height: sizeMob(18);
    }
    .paragraph_3 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeMob(14);
        line-height: sizeMob(22);
    }
    .note {
        font-family: $Montserrat;
        font-size: sizeMob(12);
        font-weight: 700;
        line-height: sizeMob(14);
    }
}
@media only screen and (device-width: $mobile) and (orientation: landscape), only screen and (max-width: $mobile) and (orientation: landscape) {
    .title_1 {
        font-family: $Montserrat;
        font-weight: 900;
        font-size: sizeMobL(24);
        line-height: sizeMobL(32);
    }
    .title_2 {
        font-family: $Montserrat;
        font-weight: 800;
        font-size: sizeMobL(20);
        line-height: sizeMobL(24);
    }
    .title_3 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeMobL(16);
        line-height: sizeMobL(20);
    }
    .paragraph_1 {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: sizeMobL(16);
        line-height: sizeMobL(20);
    }
    .paragraph_2 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeMobL(14);
        line-height: sizeMobL(18);
    }
    .paragraph_3 {
        font-family: $Montserrat;
        font-weight: 500;
        font-size: sizeMobL(14);
        line-height: sizeMobL(22);
    }
    .note {
        font-family: $Montserrat;
        font-size: sizeMobL(12);
        font-weight: 700;
        line-height: sizeMobL(14);
    }
}

// .text__black {
//     color: $color_black;
// }
// .text__green {
//     color: $color_darkgreen;
// }

// @media screen and (max-width: $mobile),
//     only screen and (device-width: $mobile) {
//     .title_1 {
//         font-family: $Montserrat;
//         font-weight: 900;
//         font-size: size(24);
//         line-height: size(32);
//     }
//     .title_2 {
//         font-family: $Montserrat;
//         font-weight: 800;
//         font-size: size(20);
//         line-height: size(16);
//     }
//     .title_3 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: size(16);
//         line-height: size(20);
//     }
//     .paragraph_1 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: size(16);
//         line-height: size(20);
//     }
//     .paragraph_2 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: size(14);
//         line-height: size(18);
//     }
//     .paragraph_3 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: size(14);
//         line-height: size(22);
//     }
// }
// @media screen and (max-width: $tablet),
//     only screen and (device-width: $tablet) {
//     .title_1 {
//         font-family: $Montserrat;
//         font-weight: 900;
//         font-size: sizeTb(42);
//         line-height: sizeTb(52);
//     }
//     .title_2 {
//         font-family: $Montserrat;
//         font-weight: 800;
//         font-size: sizeTb(42);
//         line-height: sizeTb(52);
//     }
//     .title_3 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: sizeTb(22);
//         line-height: sizeTb(28);
//     }
//     .paragraph_1 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: sizeTb(24);
//         line-height: sizeTb(34);
//     }
//     .paragraph_2 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: sizeTb(18);
//         line-height: sizeTb(24);
//     }
//     .paragraph_3 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: sizeTb(16);
//         line-height: sizeTb(22);
//     }
// }
// @media screen and (max-width: $mds), only screen and (device-width: $mds) {
//     .title_1 {
//         font-family: $Montserrat;
//         font-weight: 900;
//         font-size: size(48);
//         line-height: size(58);
//     }
//     .title_2 {
//         font-family: $Montserrat;
//         font-weight: 800;
//         font-size: size(38);
//         line-height: size(48);
//     }
//     .title_3 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: size(22);
//         line-height: size(28);
//     }
//     .paragraph_1 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: size(24);
//         line-height: size(34);
//     }
//     .paragraph_2 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: size(18);
//         line-height: size(24);
//     }
//     .paragraph_3 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: size(16);
//         line-height: size(22);
//     }
// }
// @media screen and (max-width: $lgs), only screen and (device-width: $lgs) {
//     .title_1 {
//         font-family: $Montserrat;
//         font-weight: 900;
//         font-size: size(62);
//         line-height: size(72);
//     }
//     .title_2 {
//         font-family: $Montserrat;
//         font-weight: 800;
//         font-size: size(56);
//         line-height: size(68);
//     }
//     .title_3 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: size(28);
//         line-height: size(34);
//     }
//     .paragraph_1 {
//         font-family: $Montserrat;
//         font-weight: 700;
//         font-size: size(24);
//         line-height: size(34);
//     }
//     .paragraph_2 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: size(18);
//         line-height: size(24);
//     }
//     .paragraph_3 {
//         font-family: $Montserrat;
//         font-weight: 500;
//         font-size: size(16);
//         line-height: size(16);
//     }
// }
