.section_new {
    .swiper-pagination {
        background: #000;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        color: #fff;
    }
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }
}
