// .section_2.swiper-slide-active {
//     .section_2__title {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }

.section_2 {
    position: relative;
    padding: size(250) size(350);
    background: #ffffff;
    max-width: none;
    width: size(1940);
    z-index: 2;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__title {
        position: relative;
        max-width: size(430);
        color: $color_darkgreen;
        text-transform: uppercase;
        margin-bottom: size(50);
        // transform: translateX(100px);
        // opacity: 0;
        transition: all 0.5s ease-in;
    }
    &__paragraph {
        max-width: size(615);
        letter-spacing: size(1.44);
        margin-bottom: size(110);
    }
    &__decor {
        width: size(530);
        height: size(130);
        background: transparent url('../images/materials/logo_icon.svg') center center / cover no-repeat;
    }
    &__paragraph,
    &__decor {
        opacity: 0;
        transition: opacity 5s cubic-bezier(0.075, 0.1, 0.165, 1);
        transition-delay: 1s;
    }
    &.activated .section_2__paragraph,
    &.activated .section_2__decor {
        opacity: 1;
    }
    &__right-side {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;
        right: -11%;
        bottom: 0;
        z-index: 2;
        .description {
            position: absolute;
            right: -4%;
            left: 0;
            top: 25%;
            margin: auto;
            display: block;
            color: #2f9946;
            letter-spacing: size(0.78);
            &--top {
                max-width: size(195);
            }
            &--bottom {
                max-width: size(130);
                top: 45%;
            }
        }
        .image-man {
            position: relative;
            margin-right: size(45);
            width: size(450);
            height: size(740);
            background: transparent url('../images/section_2/man.png') center / contain no-repeat;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                display: block;
                width: 100%;
                height: 100%;
                background: transparent url('../images/section_2/man_2.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            &.inViewport:before {
                opacity: 1;
                animation: blame 1.5s 3 ease-in-out;
            }
            .text-line {
                width: 50%;
                background-color: #0b3118;
                height: 1px;
                position: absolute;
                bottom: -7%;
                top: 0;
                // left: 0%;
                right: -4%;
                margin: auto;
                transform: rotateZ(-45deg);
                transform-origin: 0 0;
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    transform: translateY(-50%);
                    width: size(16);
                    height: size(16);
                    border-radius: 51%;
                    background-color: #0b3118;
                }
            }
            .text-line-2 {
                bottom: -45%;
                transform: rotateZ(-45deg);
                transform-origin: 0 0;
            }
        }
        .image-woman {
            position: relative;
            width: size(460);
            height: size(680);
            background: transparent url('../images/section_2/woman.png') center / contain no-repeat;
            z-index: 3;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                display: block;
                width: 100%;
                height: 100%;
                background: transparent url('../images/section_2/woman_2.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            &.inViewport:before {
                opacity: 1;
                animation: blame 1.5s 3 ease-in-out;
            }
            .text-line {
                width: 62%;
                background-color: #0b3118;
                height: 1px;
                position: absolute;
                bottom: 50%;
                top: 0;
                // left: 0%;
                left: 10%;
                margin: auto;
                transform: rotateZ(45deg);
                transform-origin: 0 0;
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    right: 0;
                    transform: translateY(-50%);
                    width: size(16);
                    height: size(16);
                    border-radius: 51%;
                    background-color: #0b3118;
                }
            }
            .text-line-2 {
                width: 50%;
                bottom: 0%;
                left: 15%;
                transform: rotateZ(35deg);
                transform-origin: 0 0;
            }
        }
    }
    &__footer {
        display: none;
    }
}

.touch {
    .section_2 {
        .image-man:before,
        .image-woman:before {
            opacity: 1;
            animation: blame 1.5s infinite ease-in-out;
        }
    }
}

@keyframes blame {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
