.section_4 {
    &.swiper-slide {
        width: auto;
    }
    max-width: none;
    position: relative;
    background: #ffffff;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    &__left-side {
        padding: size(350) size(150) 0 size(350);
    }
    &__title {
        position: relative;
        max-width: size(430);
        color: $color_darkgreen;
        text-transform: uppercase;
        margin-bottom: size(150);
    }
    &__decor {
        width: size(530);
        height: size(130);
        background: transparent url('/images/section_2/decor.png') center center / cover no-repeat;
    }
    .title-stroke {
        display: block;
    }
    .cards-set {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .card {
        position: relative;
        display: flex;
        height: 100%;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            width: 1px;
            background-color: #eeeeee;
        }
        &__image img {
            max-width: 100%;
            width: 0;
            height: 100%;
            transform: translateX(100%);
            transition: all 0.8s ease-in-out;
            opacity: 0;
            z-index: 1;
        }
        &:hover {
            .card-content {
                transform: translateY(20%);
            }
            .card-content__card-description {
                height: auto;
                opacity: 1;
            }
            .card__image img {
                width: auto;
                opacity: 1;
                transform: translateX(0%);
            }
        }
    }
    .card-content {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        // width: size(450);
        // max-width: size(450);
        width: 450px;
        max-width: 450px;
        // height: 100%;
        // max-height: 200px;
        margin: 0;
        transform: translateY(50%);
        transition: all 0.8s ease-in-out;
        z-index: 3;
        &__card-title {
            position: relative;
            padding: 0 size(70) size(10) size(70);
        }
        &__card-number {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: size(48);
            height: size(48);
            background-color: $color_darkgreen;
            color: #ffffff;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 800;
            letter-spacing: 1.44px;
        }
        &__card-description {
            height: 0;
            overflow: hidden;
            margin: size(40) 0 size(10) 0;
            padding: 0 size(70) 0 size(70);
            opacity: 0;
            transition: all 1s ease-in-out;
        }
        &__card-arrow {
            margin-top: auto;
            padding: 0 size(70);
            color: $color_darkgreen;
            font-size: size(36);
            // cursor: pointer;
            &:before {
                margin: 0;
                text-align: left;
            }
        }
    }
}
