.section_3 {
    // width: 100vw;
    max-width: none;
    // width: size(2280);
    width: 100vw;
    height: 100vh;
    background: #000000;
    // background: rgba(0, 0, 0, 0.6) url("../images/section_3/bg.png") left top / cover no-repeat;
    z-index: 1;
    .container {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        position: relative;
    }
    .sidebar--green {
        flex: 0 1 18%;
    }
    .hero {
        background: rgba(0, 0, 0, 0.6) url('../images/section_3/bg.png') left top/cover no-repeat;
        // flex: 0 1 size(1640);
        // flex: 0 1 82%;
        flex: 0 1 100%;
        // max-width: size(1940);
        height: 100%;
        padding: size(256) 0 0 size(270);
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        color: #ffffff;
        .hero__brand-text {
            width: 100%;
            margin-bottom: size(30);
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 1.68px;
        }
        .hero__title {
            width: 100%;
            max-width: 100%;
            text-transform: uppercase;
            letter-spacing: 3.72px;
        }
        .disclaimer {
            max-width: 38%;
            margin: auto 0;
            color: #ffffff;
        }
    }
    .button__to-order {
        // max-width: size(336);
        max-width: none;
        max-height: size(75);
        line-height: size(24);
        font-size: size(18);
        padding: size(26) size(45);
        margin-top: size(70);
        &.button--price {
            margin-top: 10px;
        }
    }
}
