// .section_2.swiper-slide-active {
//     .section_2__title {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }

.section_2 {
    position: relative;
    padding: size(250) size(350);
    background: #ffffff;
    max-width: none;
    width: size(1940);
    z-index: 2;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__title {
        position: relative;
        max-width: size(430);
        color: $color_darkgreen;
        text-transform: uppercase;
        margin-bottom: size(50);
        // transform: translateX(100px);
        // opacity: 0;
        transition: all 0.5s linear;
    }
    &__paragraph {
        max-width: size(615);
        letter-spacing: size(1.44);
        margin-bottom: size(110);
    }
    &__decor {
        width: size(530);
        height: size(130);
        background: transparent url("/images/materials/logo_icon.svg") center center / cover no-repeat;
    }
    &__right-side {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;
        right: -11%;
        bottom: 0;
        z-index: 2;
        .description {
            position: absolute;
            // right: size(-80);
            right: -4%;
            left: 0;
            top: 25%;
            margin: auto;
            display: block;
            color: #2f9946;
            font-family: Montserrat;
            font-size: size(18);
            font-weight: 700;
            line-height: size(24);
            /* Text style for "В, ысвобож" */
            letter-spacing: size(0.78);
            &--top {
                max-width: size(195);
            }
            &--bottom {
                max-width: size(130);
                top: 45%;
            }
        }
        .image-man {
            position: relative;
            margin-right: size(45);
            width: size(450);
            height: size(740);
            background: transparent url("/images/section_2/man.png") center / contain no-repeat;
            &:after {
                content: "";
                width: 50%;
                background-color: #0b3118;
                height: 1px;
                position: absolute;
                bottom: -7%;
                top: 0;
                // left: 0%;
                right: -4%;
                margin: auto;
                transform: rotateZ(-45deg);
                transform-origin: 0 0;
            }
            &:before {
                content: "";
                width: 50%;
                background-color: #0b3118;
                height: 1px;
                position: absolute;
                bottom: -45%;
                top: 0;
                // left: 0%;
                right: -4%;
                margin: auto;
                transform: rotateZ(-45deg);
                transform-origin: 0 0;
            }
            &:hover {
                background: transparent url("/images/section_2/man_2.png") center / contain no-repeat;
            }
        }
        .image-woman {
            position: relative;
            width: size(460);
            height: size(680);
            background: transparent url("/images/section_2/woman.png") center / contain no-repeat;
            z-index: 3;
            &:after {
                content: "";
                width: 62%;
                background-color: #0b3118;
                height: 1px;
                position: absolute;
                bottom: 50%;
                top: 0;
                // left: 0%;
                left: 10%;
                margin: auto;
                transform: rotateZ(45deg);
                transform-origin: 0 0;
            }
            &:before {
                content: "";
                width: 50%;
                background-color: #0b3118;
                height: 1px;
                position: absolute;
                bottom: 0%;
                top: 0;
                // left: 0%;
                left: 15%;
                margin: auto;
                transform: rotateZ(35deg);
                transform-origin: 0 0;
            }
            &:hover {
                background: transparent url("/images/section_2/woman_2.png") center / contain no-repeat;
            }
        }
    }
    &__footer {
        display: none;
    }
}
