.section_6 {
    padding: size(170) size(230) 0 size(130);
    width: size(610);
    color: $color_fff;
    .logo {
        width: 100%;
        margin-bottom: size(80);
        &__text {
            margin-left: 0;
        }
        &__link {
            margin-bottom: size(20);
        }
    }
    .contacts {
        width: 100%;
        list-style: none;
        &__item {
            margin-bottom: size(80);
        }
        &__title {
            padding-bottom: size(26);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.68px;
        }
        &__description {
            text-decoration: none;
            text-transform: none;
            color: $color_fff;
            letter-spacing: 1.08px;
        }
    }
}
