//Main colors
$color_green: #38bb4b;
$color_darkgreen: #31b043;
$color_black: #0b3118;
$color_white: #eeeeee;
$color_fff: #fff;

//Media queris
$lgs: 1920px;
$mds: 1366px;
$tablet: 768px;
$mobile: 320px;
// Main texts
$Montserrat: "Montserrat";
