//Main colors
$color_green: #38bb4b;
$color_darkgreen: #31b043;
$color_black: #0b3118;
$color_white: #eeeeee;
$color_fff: #fff;

//Media queris
$lgs: 4300px;
$mds: 1600px;
$tablet: 1200px;
$mobile: 767px;
// Main texts
$Montserrat: 'Montserrat';
